.card {
  position: absolute;
  top: 30%;
  left: 25%;
  background-color: white;
  text-align: center;
  width: 50%;
  box-shadow: 5px 5px 5px grey;
}

.cardText{
  padding: 5px;
}

.flag{
  max-width: 100%;
}

hr {
  height: 0.5px;
  background-color: lightgrey;
}

.date {
  color: grey;
  font-size: 14px;
}

@media (min-width: 900px) {
  .card {
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: white;
    text-align: center;
    width: 30%;
  }
}
