.App {
  text-align: center;
}

.App-header {
  background-color: #354f52;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

i {
  margin-right: 20px;
}

.fa {
  font-size: 50px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #354f52;
  color: white;
  text-align: center;
  font-size: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
}
